/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.page-list-header {
  border-bottom: 1px solid;
  border-color: #d3d3d3;
  margin: 25px 0;
}

.page-list-header .bi {
  font-size: 35px;
  color: #23a3d4;
}

.page-list-header .bi-list {
  color: #d3d3d3;
}

.pagetitle {
  color: #23a3d4;
  font-size: 40px;
}

.pagetitle span {
  margin-bottom: 0;
  margin-right: 15px;
  font-weight: bold;
  color: #23a3d4;
}

.location-info {
  margin-top: -40px;
  margin-left: 40px;
  text-align: right;
}

.location-info .bi {
  font-size: 15px;
  color: #d3d3d3;
}

.location-info select {
  border: none;
  min-width: 100px;
}

.location-info select:focus-visible {
  outline: none;
}
